*{
    color: aliceblue;
    background-color:black; 
    
}
.header{
    
    margin-right: 520px;
    margin-left: -580px;
    /*background-color: darkred;*/
    padding: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.tay{
    background-color: rgba(255, 0, 0, 0.227)!important;
    font-weight: bold;
}
.date{
    background-color: rgba(255, 0, 0, 0.227)!important;
    font-weight: bold;
}
.headings{
    background-color: rgba(255, 0, 0, 0.227)!important;
}
.right{
    display: flex;
    margin-top: -177px;
}
img{
    margin-left: 1129px;
    height: 708px;
}
.left{
    /*border: 4px solid rgba(255, 0, 0, 0.227);*/
    margin-top: -570px;
    margin-left: 18px;
    padding: 11px;
    font-size: 29px;
    margin-right: 432px;
}
.he2{
    background-color: rgba(255, 0, 0, 0.227) !important;
}
.para{
    font-size: 20px;
}
.foot {
    background-color: rgba(255, 0, 0, 0.227)!important;
    text-align: center;
    margin-top: 77px;
    margin-left: -13px;
    margin-right: -10px;
    font-size: 27px;
    position: fixed;
    bottom: 0;
    width: 101%;
    height: 45px; /* Adjust the height of the footer as needed */
    background-color: #f2f2f2;
    z-index: 2;
    
  }
